body{
    font-size: 100%;
}
table {
    border-collapse: collapse;
}
.days{
    position: relative;
}
.cal_view{
    position: relative;
}

.center_top{
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.right_top{
    float: right;
    margin-left: auto;
    margin-right: 0;
}

#days{
    position: fixed;
    top: 5%;
    height: 10%;
    width: 80%;
}
#cal_view{
    position: fixed;
    bottom: 0;
    top:15%;
    height: 85%;
    width: 80%;    
}

table, th, td {
    border: 1px solid black;
    overflow: hidden;
}
td{
    vertical-align: top;
}

.side_menu{
    position: absolute;
    float: left;
    top:5%;
    width: 18%;
    overflow: auto;
    min-height: 100%;
}

.main_calendar{
    float: right;
    width: 80%;
    padding: 1%;
    overflow: auto;
    min-height: 100%;
}
.top_bar{
    width: 100%;
    height: 5%;
    background-color: pink;
}
.main_page{
    width: 100%;
    top: 10%;
}

tr{
    width: 80%;
    overflow: hidden;
}
td{
    overflow: hidden;
    width: 11%;
    max-width: 11%;
    height: 15%;
}


/*followed tutorial on :  https://www.w3schools.com/howto/howto_css_modals.asp*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1{
    text-align: left;
    font-size: 15px;
}
